*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_2
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
.recommenders
